<div class="page-header">
  <a [routerLink] = "['/create']">Create a new Poll</a> &nbsp;
  <button type="button" class="btn btn-link pull-right" (click)="logout()">Logout</button>
</div>

<h3>Current Polls</h3>
<div>
  <div class="row text-right">
    <h3>Search: <input type="text" name="search" [(ngModel)]="searchPoll" #search="ngModel" (keyup)="searchPolls()"></h3>
  </div>

  <table class="table">
    <thead>
       <tr>
         <th>Name</th>
         <th>Survey Question</th>
         <th>Date Posted</th>
         <th>Action</th>
       </tr>
    </thead>
    <tbody>


      <tr *ngFor="let poll of showPolls">
        <td>{{poll.owner[0].name}}</td>
        <td><a [routerLink]="['/poll', poll._id]">{{poll.question}}</a></td>
        <td>{{poll.createdAt | date: 'mediumDate'}}</td>
        <td *ngIf="poll.owner[0]._id == currentUser._id">
          <button type="button" class="btn btn-link" (click)="deletePoll(poll._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
